@model Paciente
@{
    ViewData["Title"] = "Criar";
}
<div class="text-center">

     <h1 class="display-4">Cadastro do Paciente</h1>
</div>
     <form asp-controller="Paciente" asp-action="Criar" method="post">

        <div class="form-control">
            <label for="name">Nome Completo:</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Nome Completo">
        @Html.ValidationMessageFor(x => x.Name)
         </div>
        <br />
        <div class="form-control">
            <label for="diagnostico">Diagnostico:</label>
        <input type="text" asp-for="Diagnostico" class="form-control" placeholder="Diagnostico">
        @Html.ValidationMessageFor(x => x.Diagnostico)
            </div>
        <br />
        <div class="form-control">
            <label for="date">Data de nascimento:</label>
        <input type="date" asp-for="DtNascimento" class="form-control">
        @Html.ValidationMessageFor(x => x.DtNascimento)
        </div>
        <br />
        <div class="form-control">
            <label for="date">Data de Entrada:</label>
        <input type="date" asp-for="DtEntrada" class="form-control">
        @Html.ValidationMessageFor(x => x.DtEntrada)
        </div>
        <br />
        <div class="form-control">
        <select asp-for="Status" class="form-select">
                <option selected>Status</option>
            <option value="Internado">Internado</option>
            <option value="Alta">Alta</option>
            </select>
        @Html.ValidationMessageFor(x => x.Status)
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a class="btn btn-secondary" asp-controller="Paciente" asp-action="Index">Voltar</a>

    </form>


