@model List<Paciente>
@{
    ViewData["Title"] = "Lista de Pacientes";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Paciente" asp-action="Criar">Cadastrar Pacientes</a>
    </div>
    <br/>
    <h1>Lista de Pacientes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Data de entrada</th>
                <th scope="col">Status</th>
                <th scope="col">Diagnostico</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (Paciente paciente in Model)
                {
                    <tr>
                        <th scope="row">@paciente.Id</th>
                        <td>@paciente.Name</td>
                        <td>@paciente.DtNascimento</td>
                        <td>@paciente.DtEntrada</td>
                        <td>@paciente.Status</td>
                        <td>@paciente.Diagnostico</td>
                        <th scope="col">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a role="button" class="btn btn-warning" asp-route-id="@paciente.Id" asp-controller="Paciente" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@paciente.Id" asp-controller="Paciente" asp-action="Apagar">Deletar</a>
                            </div>
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


